body{
margin: 0;
}
html{
background-image:url(../img/Gwent.jpg);
background-position: center;
background-size: cover;
height:100%;
}
#div1{
display:flex;
justify-content: center;
flex-wrap: wrap;
gap: 10px 10px;
align-items:center;
}
#c1,#c2{
height:512px;
width:341.33px;
border: 0;
padding: 0px;
}
#btn,#btn2,#score{
font-size: 25px;
text-align: center;
background-color:#151922;
border:#151922;
color:white;
}
@media screen and (max-width: 1080px) {
	#div1{flex-direction: column;}
	#btn,#btn2,#score{font-size: 40px;}
	html{background-repeat: repeat;}
}
